<div class="row">
    <div class="col-4">
        <select [(ngModel)]="colorP" class="form-select" (change)="emitirColor()">
            <option *ngFor="let color of colors">{{color}}</option>
        </select>
    </div>
    <div class="col-4" style="margin-bottom: auto;">
        <div class="form-check form-check mt-3">
            <input type="checkbox" id="flexCheckDefault" class="form-check-input" (click)="cambiarText()">
            <label class="form-check-label" for="flexCheckDefault">{{boton}}</label>
        </div>
    </div>
</div>